#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start Apove navbar */
#apoveNavbar {
  animation-name: shrinkingAboveNavbar;
  animation-duration: 6s;
}


@keyframes shrinkingAboveNavbar {
  20% {
    height: 55px;
    padding: 10px 0px;
  }

  80% {
    height: 55px;
    padding: 10px 0px;
  }
}

/* End Apove navbar */

/* Start Slider Component*/
.slider {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 800px) {
  .slider {
    height: 420px !important;
  }
}

@media screen and (max-width: 510px) {
  .slider {
    height: 250px !important;
  }
}

/* End Slider Component */

/* Start Products Page */
#menuHandler {
  box-shadow: none;
  border: solid 2px black;
  padding: 2px 4px;
  border-radius: 6px;
}

#menuHandler:hover {
  background-color: black;
  color: white;
}

/* End Products Page */

/* Start Signin Page */
#signin {
  background-color: black;
}

/* Start Signin Page */